<%- include("partials/header"); -%>

<div class="purchase-cont">
    <img class="tick" src="/images/mdi_tick-outline.png" alt="">
    <h1>BOOKED !</h1>
    <img class="home" src="/images/Frame 19.png" onclick="location.href='/'">
</div>

<%- include("partials/footer"); -%>